<h1>Add Food Items</h1>

<%= form_with(model: @food) do |f| %>
  <%= f.text_field :name, placeholder: "Food name", autofocus: true, required: true %>
  
  <!-- Dropdown for Measurement Unit -->
  <%= f.select :measurement_unit, ['kg', 'g', 'ounce', 'numbers'], prompt: "Select unit", required: true %>
  
  <!-- Input field for Quantity -->
  <%= f.number_field :quantity, placeholder: "Quantity", required: true %>
  
  <!-- Input field for Price -->
  <%= f.number_field :price, placeholder: "Unit price", step: "0.01", required: true %>
  
  <%= f.submit "Add Food" %>
<% end %>

<% if flash[:error].present? %>
  <p><%= flash[:error] %></p>
<% end %>
